*{margin:0px;padding:0px;}

@import url('https://fonts.googleapis.com/css?family=Lato:700');

body{
	margin:0px;
	padding:opx;
	background-image:url(image/844.jpg);
	background-attachment:fixed;
}
.top{
	width:100%;
	height:30px;
	background-color:#363738;
}
.header{
	margin:0px auto;
	width:960px;
	height:100px;
	border-radius:8px;
	background-color:#24416d;
}
.logo{
	margin-right:10px;
	width:100px;
	height:100px;
	float:right;
}
.name{
	width:500px;
	height:80px;
	margin-left:230px;
	margin-bottom:10px;
}
.bd{
	margin-left:10px;
	width:100px;
	height:100px;
}

#menu{
	padding:0;
	list-style-type:none;
	width:960px;
	background:#4E4E4E;
	border-bottom:5px solid blue;
	min-height:38px;
	margin:0 auto;
}
#menu li{
	float:left;
	border-right:1px solid #605B5B;
	border-left:1px solid #2B2A2A;
	position:relative;
	
}

#menu li:last-child{
	border-right:none;
}
#menu li:first-child{
	border-left:none;
}
#menu li a{
	color:#fff;
	text-decoration:none;
	background:#4E4E4E;
	padding:10px 20px;
	display:block;
	transition:0.3s all ease;
}
#menu li a:hover{
	background:#2d5aa3;
}


#menu li ul{
	list-style-type:none;
	padding:0;
	position:absolute;
	left:-99999px;
	/*transition:0.5s all ease;*/
}
#menu li:hover ul{
	left:0;
}

#menu li ul li{
	float:none;
	border-right:none;
	border-left:none;
	border-top:1px solid #605B5B;
	border-bottom:1px solid #2B2A2A;	
	width:200px;
	position:relative;
}

#menu li ul li ul{
	position:absolute;
	top:-999999px;
}
#menu li ul li:hover ul{
	top:0;
	left:200px;
}
.wrapper_all{
	margin:3px auto;
	padding-top:6px;
	width:960px;
	height:800px;
	border-radius:8px;
	background-color:#bcc0c6;
}
.notice{
	width:260px;
	height:500px;
	border:3px solid blue;
	float:right;
	background-color:#f2eded;
}
#nt{
	padding:0px;
	width:260px;
	height:40px;
	background-color:#24416d;
}
p{
	color:white;
	text-align:center;
	font-family: 'Lato', sans-serif;
	font-size:28px;
	text-decoration:none;
}
.footer{
	width:100%;
	height:40px;
	float:left;
	background-color:#363738;
}
.cright{
	color:white;
	font-family: 'Lato', sans-serif;
	font-size:20px;
}







